export SECRET_KEY_BASE="$(mix phx.gen.secret)"
export DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tomaszkowal_dev"
export APP_NAME=tomaszkowal
export MY_HOSTNAME=localhost
export MY_COOKIE=secret
export REPLACE_OS_VARS=true
